
<div class ="ressources">
  {{stock.milk}}
  {{stock.chocolate}}
  {{stock.egg}}
</div>
<div class="myBag" *ngFor="let item of shop.stockEggs">

  <img [src]="item.image">

  {{item.name}}
  {{item.power}}
  <div *ngIf="shop.stockEggs.length == 8 || ((stock.milk===21) && (stock.chocolates===4) && (stock.eggs === 19) " >
    <img [src]="https://www.google.fr/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiC292E09vhAhUsxIUKHX3KCykQjRx6BAgBEAU&url=https%3A%2F%2Fwww.marlieu.fr%2F1767-gros-oeuf-choc-lait-friandises.html&psig=AOvVaw0qhek-pDJ_tBLyE7P3Ooxv&ust=1555745827092627">
  </div>
</div>

<button (click)="buyMilk()">Buy Milk</button>
<button (click)="sellMilk()">Sell Milk</button>
<button (click)="buyChocolate()">Buy Chocolate</button>
<button (click)="sellChocolate()">Sell Chocolate</button>
<button (click)="someEgg()">Buy Egg</button>
<button (click)="sellEgg()">Sell Egg</button>



<button (click)="buyEgg()">Buy this Egg</button>
<button (click)="sellEgg()">Sell my Egg</button>