.btn {
    background-color: rgba(95,0,221, 0.6);
    border-radius: 8px;
    color: whitesmoke;
    margin-right: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.ressources  {
    font-size: 30px;

}

#x {
    margin-top: 20px
}