.buttonBack {
    border-radius:12px 0 12px 0;
    border:none;
    font-family: 'menu';
    font-size: 50px;
    padding:6px 20px 20px 20px;
    text-align: center;
    width: 400px;
    opacity: .8;
    margin-top: 200px;
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1); 
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1); 
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1);
   transition: all 200ms ease-in;
   transform: scale(1); 
 
  }