<p>
  marchand works!
</p>

<div class="background"></div>
<img src="/assets/lemarchand.gif" class="center" [routerLink]="['/eggs']">

<button class="button" [routerLink]="['/eggs']">Play Game</button>


<!-- <div class="container">
  <div class="row">
    <div *ngFor="let item of allEggs" class="card col-4" style="width: 18rem;">
      <img class="card-img-top" [src]="item.image" alt="Card image cap">
      <div class="card-body">

        <p class="card-text">Egg's power: {{ item.power}}</p>
      </div>
    </div>
  </div>
</div> -->