

#column{
    flex-direction: column !important;
}


.custom {
    background-color: #5F00DD;
    border-radius: 10px;
    color: whitesmoke;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align:center;
    background-color:rgba(95, 0,  221, 0.8);
    color: whitesmoke;
}

