<!-- <div style="display: block;" width="200" height="200 !important">
  <canvas baseChart width="200" height="200"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div> -->

<h1> Easter Trading </h1>

<div class="container-fluid">
  <div class="row"> 
    <div class="col-lg-6" >
      <button type="button" class="custom">Milk</button>
      <button type="button" class="custom">Chocolate</button>
      <button type="button" class="custom">Eggs </button>
    </div>
      <div class="col-lg-6"
      ></div>
  </div>

</div>


<p *ngIf="milk != null">
{{milk[0].date}}
{{ milk[0].price }}
</p>
<div *ngFor="let item of allEggs" class="card col-4" style="width: 18rem;">
  <img class="card-img-top" [src]="item.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{item.id}}</h5>
    <p class="card-text">{{ item.power}}</p>
  </div>
</div>
